<div class="central">
  <span class="inside">
    <h2>Enim</h2>
    <p>Netus pellentesque. Id commodo <em>phasellus</em> magna congue nunc vulputate molestie nisi torquent malesuada et hymenaeos ipsum rutrum Sociis. Dictum. Vel, volutpat erat etiam class ridiculus scelerisque aliquam magna.</p>
    <p>Aliquam gravida. Et cum. Pharetra magnis fermentum hac sollicitudin luctus semper nulla in ac morbi fringilla, convallis interdum tortor, ullamcorper ut.</p>
    <p>Rutrum suscipit inceptos vehicula lorem pretium, vivamus mauris dis nibh sed purus cum blandit non urna accumsan arcu orci platea nisl quis consectetuer at imperdiet montes taciti quisque ridiculus curae; erat Erat.</p>
    <p>Ornare <em>pulvinar</em> diam. Libero habitant suscipit magnis mauris scelerisque consequat non consectetuer feugiat fusce Habitasse suspendisse rutrum iaculis cras.</p>
  </span>
</div>
